.glass-left{
    --cyan-text:  rgb(155, 219, 221, 1);
    --cyan-border:  rgb(155, 219, 221, 0.18);
    --black-bg: rgba(0,0,0,1);
    color: var(--cyan-text);
    position: absolute;
/*     background-color: aqua; */
    margin: 30px;
    min-width: 200px;
    max-width: 300px;
    top: -500px;
    z-index: 1;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar {
    font-size: 9em;
    margin-top: 80px; 
    margin-bottom: 50px;
  }
.glass-left:hover{
    background: linear-gradient(135deg, rgba(155, 219, 221,0.3), rgba(255,255,255,0));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    transform: translateZ(50px);
    transition: transform 0.3s ease;
}
@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(200px);
        transform: translateY(500px);
    }
}


.glass-left {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@media screen and (max-width: 1600px) {
    .glass-left{
        
    }
}
@media screen and (max-width: 1000px) {
    .glass-left{
        min-height: 180px;
        margin: 20px;
    }
}
@media screen and (max-width: 768px) {
    .glass-left{
        margin: 10px;
    }
}
@media screen and (max-width: 530px) {
    .glass-left{
        margin: 5px;
    }
}
@media screen and (max-width: 390px) {

}