.gallery-bg {
    width: 100vw;
    height: 100%;
    background: url(../../assets/schachKugelBackground03.png);
    background-size: cover;
    position: absolute; 
}
.gallery-container {
    --cyan-text:  rgb(155, 219, 221, 1);
    --cyan-border:  rgb(155, 219, 221, 0.18);
    --black-bg: rgba(0,0,0,1);
    --round-shadow: 
        rgba(0, 0, 0, 0.17) 
        0px -23px 25px 0px inset,
        rgba(155, 219, 221, 0.15) 0px -36px 30px 0px inset,
        rgba(155, 219, 221, 0.1) 0px -79px 40px 0px inset, 
        rgba(155, 219, 221, 0.06) 0px 2px 1px, 
        rgba(155, 219, 221, 0.09) 0px 4px 2px, 
        rgba(155, 219, 221, 0.09) 0px 8px 4px, 
        rgba(155, 219, 221, 0.09) 0px 16px 8px, 
        rgba(155, 219, 221, 0.09) 0px 32px 16px;
    --hover-round-shadow: 
        rgba(0, 0, 0, 0.17) 
        0px -23px 25px 0px inset,
        rgba(155, 219, 221, 0.25) 0px -36px 30px 0px inset,
        rgba(155, 219, 221, 0.2) 0px -79px 40px 0px inset, 
        rgba(155, 219, 221, 0.16) 0px 2px 1px, 
        rgba(155, 219, 221, 0.19) 0px 4px 2px, 
        rgba(155, 219, 221, 0.19) 0px 8px 4px, 
        rgba(155, 219, 221, 0.19) 0px 16px 8px, 
        rgba(155, 219, 221, 0.19) 0px 32px 16px;
    --round-shadow-dark:
    rgba(0, 0, 0, 0.17) 
    0px -23px 25px 0px inset,
    rgba(0,0,0, 0.25) 0px -36px 30px 0px inset,
    rgba(0,0,0, 0.2) 0px -79px 40px 0px inset, 
    rgba(0,0,0, 0.16) 0px 2px 1px, 
    rgba(0,0,0, 0.19) 0px 4px 2px, 
    rgba(0,0,0, 0.19) 0px 8px 4px, 
    rgba(0,0,0, 0.19) 0px 16px 8px, 
    rgba(0,0,0, 0.19) 0px 32px 16px;
    color: var(--cyan-text);
/*     background-color: aqua; */
    margin-top: 250px;
    margin-left: 300px;
    height: 68vh;
    width: 80%;
    z-index: 1;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 100px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
    display: flex;
    justify-content: center;
    align-items: center;
}
.carussel-container, .left-arrow, .right-arrow, .pics-container {
    height: 31.5rem;
}
.carussel-container {
    width: 75.5rem;
    display: flex;
}
.left-arrow, .right-arrow {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 2px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    box-shadow: var(--round-shadow);
}
.left-arrow {
    border-radius: 100px 20px 20px 100px;
}
.right-arrow {
    border-radius: 20px 100px 100px 20px;
}
.left-arrow:hover, .right-arrow:hover {
    box-shadow: var(--hover-round-shadow);
}

.pics-container {
    width: 65.5rem;
    display: flex;
    flex-wrap: wrap;
}
.single-pics-container {
    width: 65.5rem;

    display: flex;
    justify-content: space-between;
}
.pic-card {
    height: 15.5rem;
    width: 32%;
    border-radius: 20px;
    margin: auto;
}
.history {

}
.single-pic-card {

    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.single-pic-only {
    float: left;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
}
.history {
    background-color: var(--black-bg);
    height: 99%;
    width: 56%;
    margin-right: 0px;
    overflow: auto;
}
.content-container {
    margin: auto;
    height: 99%;
    width: 96%;

}

.history-text {
    
    padding-left: 2px;
}
.gab {
    height: 90%;
    width: 10px;
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: auto;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    box-shadow: var(--hover-round-shadow);
    border-radius: 20px;
}
.pic-card.expanded {
    background: linear-gradient(135deg, rgba(155, 219, 221, 0.8), rgba(255, 255, 255, 0));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -80%) scale(2);
    z-index: 2;
}
.pics-container.none {
    display: none;
}
.pic-card:hover {
    background: linear-gradient(135deg, rgba(155, 219, 221, 0.3), rgba(255, 255, 255, 0));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.pic-container {
    margin: auto;
    height: 10rem;
    width: 20rem;
}
.pic-only {
    margin: auto;
    height: 10rem;
    width: 20rem;
}
h3 {
    margin-left: 25px;
}
.pic-description {
    font-size: 0.7rem;
    margin-left: 25px;
    
}
.single-pic-description {
    margin-left: 10px;
    text-align: start;
}
.arrows-icon {
    font-size: 4rem;
}

.project-one {
    
}
.gallery-container {
    -webkit-animation: display-none 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: display-none 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes display-none {
    0% {
        -webkit-transform: scaleX(0.3);
        transform: scaleX(0.3);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        
    }
}

.left-arrow:active, 
.right-arrow:active{
    background-color: var(--cyan-text);
    box-shadow: var(--round-shadow-dark);
}

.left-arrow:active .arrows-icon,
.right-arrow:active .arrows-icon {
    color: black;
}