.project-glass {
    --cyan-text: rgb(155, 219, 221, 1);
    --cyan-border: rgb(155, 219, 221, 0.18);
    --black-bg: rgba(0, 0, 0, 1);
    --round-shadow: 
    rgba(0, 0, 0, 0.17) 
    0px -23px 25px 0px inset,
    rgba(155, 219, 221, 0.15) 0px -36px 30px 0px inset,
    rgba(155, 219, 221, 0.1) 0px -79px 40px 0px inset, 
    rgba(155, 219, 221, 0.06) 0px 2px 1px, 
    rgba(155, 219, 221, 0.09) 0px 4px 2px, 
    rgba(155, 219, 221, 0.09) 0px 8px 4px, 
    rgba(155, 219, 221, 0.09) 0px 16px 8px, 
    rgba(155, 219, 221, 0.09) 0px 32px 16px;
--hover-round-shadow: 
    rgba(0, 0, 0, 0.17) 
    0px -23px 25px 0px inset,
    rgba(155, 219, 221, 0.25) 0px -36px 30px 0px inset,
    rgba(155, 219, 221, 0.2) 0px -79px 40px 0px inset, 
    rgba(155, 219, 221, 0.16) 0px 2px 1px, 
    rgba(155, 219, 221, 0.19) 0px 4px 2px, 
    rgba(155, 219, 221, 0.19) 0px 8px 4px, 
    rgba(155, 219, 221, 0.19) 0px 16px 8px, 
    rgba(155, 219, 221, 0.19) 0px 32px 16px;
    --round-shadow-dark:
    rgba(0, 0, 0, 0.17) 
    0px -23px 25px 0px inset,
    rgba(0,0,0, 0.25) 0px -36px 30px 0px inset,
    rgba(0,0,0, 0.2) 0px -79px 40px 0px inset, 
    rgba(0,0,0, 0.16) 0px 2px 1px, 
    rgba(0,0,0, 0.19) 0px 4px 2px, 
    rgba(0,0,0, 0.19) 0px 8px 4px, 
    rgba(0,0,0, 0.19) 0px 16px 8px, 
    rgba(0,0,0, 0.19) 0px 32px 16px;
    color: var(--cyan-text);
    position: fixed;
    top: 400px;
    width: 400px;
    height: 400px;
    right: -900px;
    z-index: 1;
    border-radius: 20px;
    transition: transform 0.3s ease,
}


.font-list-container.move-left {
    transform: translateX(-300px);
    
}

.font-list-container {
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    display: flex;
    transition: transform 0.3s ease,
}
.font-container {
    cursor: pointer;

    border-radius: 20px 0px 0px 20px;
}
.font-container:active {
    background-color: var(--cyan-text);
    box-shadow: var(--round-shadow-dark);
}
.font-container:active .alpha{
    color: var(--black-bg);

}


.project{
    width: 45px;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 8px;
    
}
.alpha {
    text-shadow: 4px 4px 4px rgba(255,255,255,1);
    letter-spacing: 5px;
    text-shadow: 4px 4px 0px #000, 
        -4px 0 0px #000,
        7px 4px 0 #fff;
}
.alpha:active {
    color: var(--black-bg);
}
.list-container {
    font-size: 1.7rem;
    width: 350px;
}

.list-container a {
    font-size: 1.7rem;
    color: var(--cyan-text);
}
.project-glass {
    -webkit-animation: slide-project-glass 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-project-glass 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@keyframes slide-project-glass {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-550px);
    }
}
@media screen and (max-width: 1600px) {

}
@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 768px) {
    .project-glass {
        top: 240px;
    }
}
@media screen and (max-width: 530px) {

}
@media screen and (max-width: 390px) {

}
